# Dependencies
node_modules/
fonts/

dist/

.skills/
.agents/
.clinerules/

# Build artifacts
packages/demo/renderers.bundle.mjs
*.tgz

# OS files
.DS_Store

# npm
npm-debug.log*

# tmp
/tmp
tmp/

.idea/